body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    --cicle-size: 30px;
    --branch-bubble-width: 12px;
}

.circle {
    width: var(--cicle-size);
    height: var(--cicle-size);
    border-radius: 45px;
    background-color: #28A745;
}

.branch {
    position: absolute;
    margin-left: calc(var(--cicle-size) / -2);
    width: calc(var(--cicle-size) / 2);
    height: 2px;
    background-color: #E1E4E8;
}

.branch-bubble {
    position: absolute;
    margin-left: calc(var(--cicle-size) / -2 - var(--branch-bubble-width) / 2);
    width: var(--branch-bubble-width);
    height: var(--branch-bubble-width);
    border-radius: var(--branch-bubble-width);
    background-color: #E1E4E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-title {
    margin-left: -1000px;
    padding-left: 1000px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.image {
    width: 80px;
    border-radius: 4px;
    border: 2px solid #E1E4E8;
}


.node-title-text {
    margin-left: 10px;
}

.node-title:hover .row-icon {
    visibility: visible;
}

.row-icon {
    color: gray;
    margin-left: 20px;
    visibility: hidden;
}

.row-icon:hover {
    text-decoration: underline;
}

.children {
    margin-left: calc(var(--cicle-size) / 2 - 1px);
    padding-left: calc(var(--cicle-size) / 2);
    position: relative;
}

.children:after {
    content: "";
    background: #E1E4E8;
    position: absolute;
    top: 0;
    left: -1px;
    height: calc(100% - 18px);
    width: 2px;
}

.children + .node-title {
    padding-top: 0px;
}

.buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    width: 80px;
    flex-direction: column;
    justify-content: stretch;
}
.search-input{
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 2px solid #E1E4E8;
    border-radius: 4px;
    width: calc(100% - 20px);
}

.page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

.sidebar {
    width: 200px;
    overflow: auto;
}

.search {
    flex: 1;
    overflow: auto;
}

.tree {
    overflow: auto;
    flex: 1;
}


.sidebar-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar-item>img{
    width: 10px;
    height: 10px;
}
.sidebar-items-children{
    margin-left: 10px;
}
