body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

.page-during-drag {
    user-select: none;
    cursor: grabbing;
}

/*Unfortunately I don't know any other way to disable cursor effects on all nodes*/
/*Thus I will need to disable ALL cursor effects in my app */
.page-during-drag .clickable-text,
.page-during-drag .bullet-outer {
    cursor: inherit;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: rgb(236, 238, 240) 1px solid;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
}


.page {
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
}

.focused-element {
    font-size: 23px;
    font-weight: bold;
}

.row-title {
    display: flex;
    align-items: center;
    height: 35px;
}

.children-area {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid lightgray;
}

.bullet-outer {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: darkgrey;
}

.video-image {
    /*multiplying width by youtube small image width aspect ratio
    /*120x90, thus width is 1.33333 bigger than height*/
    height: 25px;
    width: calc(25px * 1.33333);
    margin-left: 0;
    border-radius: 4px;
}

.breadcrumb-part {
    margin-left: 12px;
    margin-right: 12px;
}

.splitter {
    color: lightgray;
}

.clickable-text {
    cursor: pointer;
}

.clickable-text:hover {
    text-decoration: underline;
}

.row-title:hover .row-icons {
    visibility: visible;
}

.row-icons {
    visibility: hidden;
}

.row-icon {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

.row-icon:hover {
    font-weight: bold;
}


/*Drag'n'Drop stuff */

.box-container {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.box {
    pointer-events: none;
    background-color: white;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 2px;
    padding-right: 6px;
    border-radius: 8px;
    height: 20px;
    /*I'm using translate to position box right in proper position with respect to the cursor*/
    transform: translateX(-10px) translateY(-10px);

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.drop-indicator {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    height: 4px;
    transform: translateY(-2px);
    background-color: darkgrey;
    pointer-events: none;
}
