body {
    margin: 0;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: rgb(236, 238, 240) 1px solid;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.page {
    margin-top: 50px;
}

.breadcrumb-part {
    margin-left: 12px;
    margin-right: 12px;
}

.splitter {
    color: lightgray;
}

.clickable-text {
    cursor: pointer;
}

.clickable-text:hover {
    text-decoration: underline;
}
